/* Footer.css */

.footer {
    background-color: black;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 0; 
}

.footer-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: flex-start; 
}

.footer-section {
    flex: 1; 
    text-align: center;
    margin: 10px; 
}

.footer-section p {
    font-size: 18px;
    margin-bottom: 10px;
    color: #FFFFFF;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
}

.footer-section ul li {
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.footer-section ul li a {
    color: #FFFFFF;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section p {
    margin: 0;
}
/*.footer-section h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding-right: 90px;
}
.footer-section h4 {
    padding-right: 270px;
    font-family: 'Poppins', sans-serif;
    font-weight: 750;

}*/
.footer-section img {
    width: 24px;
    height: 24px;
}

.footer-section .social-icon {
    display: flex;
    align-items: center;
   
}

.footer-section .social-icon img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 130px;
}


.footer-container .footer-section:nth-child(1),
.footer-container .footer-section:nth-child(2) {
    margin-bottom: 5px; 
}

.footer-section .contact-info {
    font-size: 16px; 
}
@media screen and (max-width: 768px) {
    .footer-section {
        flex-basis: 50%; 
    }
    
    .footer-section h2 {
        font-size: 16px;
        padding-right: 0; 
    }
    
    .footer-section p {
        padding-right: 0; 
    }

    .footer-section .social-icon img{
        margin-left: 4px;
    }
}

@media screen and (max-width: 480px) {
    .footer-section {
        flex-basis: 100%; 
    }
    
    .footer-section h2 {
        font-size: 14px; 
    }
    
    .footer-section h4 {
        padding-right: 0; 
    }
}
